<div class="largetext">
	<div class="contactUs">
		The Atom Review supports visionary young artists, while serving as an instrument of art discovery. 
		Every weekday, we showcase one new artist by exhibiting his or her work alongside a short interview.
		Our mission is to empower and celebrate the filmmakers, visual artists, musicians,
		performers, and writers that create perspective-changing work.
		We will be rolling out a series of tools in the coming months that enable artists to better support and promote themselves in their creative careers.
	</div>
</div>

<div class="socialMedia">
	<a href="http://www.facebook.com/theatomreview"><img class="socialIcon" src="facebookicon.png"></a>
	<a href="http://www.twitter.com/atomreview"><img class="socialIcon" src="twittericon.png"></a>
	<a href="http://www.instagram.com/atomreview"><img class="socialIcon" src="instagramicon.png"></a>
	<a href="http://www.pinterest.com/atomreview"><img class="socialIcon" src="pinteresticon.png"></a>
	<a href="http://atomreview.tumblr.com"><img class="socialIcon" src="tumblricon.png"></a>
</div>
