<!DOCTYPE html>
<html lang="en" ng-app="audience">
	<head>		
		<link rel="icon" type="image/png" href="/gravatar.png">

		<meta name="fragment" content="!">

		<title>Atom Review | {{seo.pageTitle}}</title>
		<meta name="description" content={{seo.pageDescription}}>

		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/discoverstyle.css">
		<link href='https://fonts.googleapis.com/css?family=Noticia+Text:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
		
		<!-- jQuery -->		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		
		<!-- Angular -->	
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular-resource.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular-route.min.js"></script>
    	
		<script src="./audience.js"></script>
		<script src="./angular-file-upload.min.js"></script> 
		<script src='./ng-infinite-scroll.min.js'></script>

		<!-- Angulartics -->
		<script src="./angulartics/angulartics-ga-cordova.js"></script> 
		<script src="./angulartics/angulartics-ga.js"></script> 
		<script src="./angulartics/angulartics-gtm.js"></script> 
		<script src="./angulartics/angulartics-scroll.js"></script> 
		<script src="./angulartics/angulartics.js"></script>

		<!-- AddThis -->
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53a0beae4c9aa27c"></script>
		<script type="text/javascript">
			var addthis_share = addthis_share || {}
				addthis_share = {
					passthrough : {
						twitter: {
						via: "atomreview"
					}
				}
			}
		</script>

		<meta property="og:url" content="https://floating-fjord-7190.herokuapp.com/#!/show/{{seo.pageDate}}">
		<meta property="og:site_name" content="Atom Review">
		<meta property="og:title" content={{seo.pageDescription}} /> 
		<meta property="og:description" content={{seo.pageCaption}} />   
		<meta property="og:image" content="https://atomreview.s3.amazonaws.com/biopic{{seo.pageArtistId}}" />
		<script>
		$(document).ready(function(){
			addthis.toolbox('.addthisToolbox');
		});
		</script>

		<!-- Google Analytics -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-51904358-1', 'auto');
		</script>

	</head>

	<body>