<div class="largetext">
	<div class="contactUs">
		</br>
		We love to hear from you!</br>
		Please send any suggestions, recommendations for artists, or inquiries our way at mollyisgreen@gmail.com.
	</div>

	<div class="socialMedia">
		<a href="http://www.facebook.com/theatomreview"><img class="socialIcon" src="facebookicon.png"></a>
		<a href="http://www.twitter.com/atomreview"><img class="socialIcon" src="twittericon.png"></a>
		<a href="http://www.instagram.com/atomreview"><img class="socialIcon" src="instagramicon.png"></a>
		<a href="http://www.pinterest.com/atomreview"><img class="socialIcon" src="pinteresticon.png"></a>
		<a href="http://atomreview.tumblr.com"><img class="socialIcon" src="tumblricon.png"></a>
	</div></br></br></br>
</div>