<!-- TODO: is this correct directive? -->
<div ng-repeat="artist in artist">

	<a href="#/">Dashboard</a>

		<img src="https://atomreview.s3.amazonaws.com/visualfeature53b8b535ab13764e30000001">

	<!-- enter feature -->
	<form class="featureform" name="revisionForm">

		<button ng-click="textfeature=!textfeature">Text</button>
		<button ng-click="embedfeature=!embedfeature">Embedded Link</button>
		<button ng-click="imagefeature=!imagefeature">Visual Art</button></br>

		<span ng-hide="textfeature">
			<input type="text" id="textcontent" ng-model="artist.textfeature"/>
			<button ng-click="saveTextFeature(artist._id, $index)">Save Feature</button>
		</span>

		<span ng-hide="embedfeature">
			iframe link: <input type="text" id="from" ng-model="artist.embedlink"/></br>
			iframe width: <input type="text" id="from" ng-model="artist.embedwidth"/></br>
			iframe height: <input type="text" id="from" ng-model="artist.embedheight"/></br>
			<button ng-click="saveEmbedFeature(artist._id, $index)">Save Feature</button>
		</span>

		<span ng-hide="imagefeature">
			<!--<div ng-file-drop="uploadVisualContent($files)" class="addPhoto" 
				ng-file-drag-over-class="dropOverPhoto" ng-model="artist.imagefeature">Drop visual here</div>

						<button ng-click="saveImageFeature(artist._id, $index)">Save Feature</button>-->
			<input type="file" id="visualfeature" name="files" ng-file-select="uploadVisualFeature(artist._id, $files)">

		</span>

	</form>

	<div class="artistinfo">
		
		<img class="editPhotoDisplay" src={{bioPhotoPath}} alt="displayartistphoto">

		<input type="file" id="biopic" name="files" ng-file-select="uploadBioPic(artist._id)">
		<p id="status">Upload artist bio photo</p>
				<!--
				<div style="border:1px solid gray;width:300px;"  id="preview">
					<img src="/images/default.png" style="width:300px;" /></div>-->


		<!-- interview -->
		<form class="editinterview" name="revisionForm">
			{{artist.date | date: fullDate}}</br>
			<b>Change to date:</b> <input type="date" class="formfield" ng-model="artist.date"></br>
			<b>Artist:</b> <input type="text" class="formfield" ng-model="artist.name"></br>
			<b>City:</b> <input type="text" class="formfield" ng-model="artist.city"></br>
			<b>Description:</b> <input type="text" class="formfield" ng-model="artist.description"></br>
			<b>Question:</b> <input type="text" class="formfield" ng-model="artist.question"></br>
			<b>Answer:</b> <input type="text" class="formfield" ng-model="artist.answer"></br>
			<br>
			<button ng-click="saveChange(artist._id, $index)">Save</button>
			<button ng-click="deleteArtist(artist._id)">Delete</button>
		</form>
	</div>

<!--
	<div ng-file-drop="uploadArtistPhoto($files)" class="addPhoto" 
		ng-file-drag-over-class="dropOverPhoto" ng-model="artist.photo">Drop bio photo here
	</div>
-->

	<div class="discoverSection">
		<form class="discoverForm">
			<b>Discover 1:</b></br>
			iframe link: <input type="text" ng-model="artist.discoverlink1"/></br>
			<input type="radio" name="linktype" value="vimeo" ng-model="artist.discoverlink1type">Vimeo</br>
			<input type="radio" name="linktype" value="bandcamp" ng-model="artist.discoverlink1type">Bandcamp</br>
		</form>

		<form class="discoverForm">
			<b>Discover 2:</b></br>
			iframe link: <input type="text" ng-model="artist.discoverlink2"/></br>
			<input type="radio" name="linktype" value="vimeo" ng-model="artist.discoverlink2type">Vimeo</br>
			<input type="radio" name="linktype" value="bandcamp" ng-model="artist.discoverlink2type">Bandcamp</br>
		</form>

		<form class="discoverForm">
			<b>Discover 3:</b></br>
			iframe link: <input type="text" ng-model="artist.discoverlink3"/></br>
			<input type="radio" name="linktype" value="vimeo" ng-model="artist.discoverlink3type">Vimeo</br>
			<input type="radio" name="linktype" value="bandcamp" ng-model="artist.discoverlink3type">Bandcamp</br>
		</form>

		<button ng-click="saveDiscoverLinks(artist._id, $index)">Save Discover Links</button>
	</div>

	<iframe src={{discoveriframe1}} width={{artist.discoverwidth1}} height={{artist.discoverheight1}} frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

	<iframe src={{discoveriframe2}} width={{artist.discoverwidth2}} height={{artist.discoverheight2}} frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

	<iframe src={{discoveriframe3}} width={{artist.discoverwidth3}} height={{artist.discoverheight3}} frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>	

</div>
