<div class="editContainer">		
	<a class="editButton" href="#/">Dashboard</a>
	<a class="editButton" href="#/preview/{{artist[0]._id}}">Preview</a></br></br>

	<!-- Features -->
	<img id="imagefeatureDisplay" src={{visualFeaturePath}}>

	<div id="textfeatureDisplay">{{artist[0].textfeature}}</div>

	<div id="iframefeatureDisplay">
		<iframe src={{iframesrc}} width={{artist[0].embedwidth}} height={{artist[0].embedheight}} frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>

	<!-- Upload feature -->
	<form class="featureform" name="revisionForm">

		<button class="editButton" ng-click="textfeature=!textfeature">Text</button>
		<button class="editButton" ng-click="embedfeature=!embedfeature">Embedded Link</button>
		<button class="editButton" ng-click="imagefeature=!imagefeature">Visual Art</button>
		</br></br></br>

		<span ng-hide="textfeature">
			<textarea type="text" id="textcontent" ng-model="artist[0].textfeature"/></textarea>
			</br><button class="editButton" ng-click="saveTextFeature(artist[0]._id)">Save Feature</button>
		</span>

		<span ng-hide="embedfeature">
			iframe link: <input type="text" id="from" ng-model="artist[0].embedlink"/></br>
			iframe width: <input type="text" id="from" ng-model="artist[0].embedwidth"/></br>
			iframe height: <input type="text" id="from" ng-model="artist[0].embedheight"/></br>
			</br><button class="editButton" ng-click="saveEmbedFeature(artist[0]._id)">Save Feature</button>
		</span>

		<span ng-hide="imagefeature">
			<input type="file" id="visualfeature" name="files" ng-file-select="uploadVisualFeature(artist[0]._id, $files)">
		</span>

	</form>


	<div class="artistinfo">
		<form name="revisionForm">
			<img class="editPhotoDisplay" src={{bioPhotoPath}}></br></br>
			<input type="file" id="biopic" name="files" ng-file-select="uploadBioPic(artist[0]._id)"></br></br>

			<b>Showcase date:</b> {{artist[0].date | date: fullDate}}</br>
			<b>Change to date:</b> <input type="date" class="formfield" ng-model="artist[0].date"></br>
			<b>Artist:</b> <input type="text" class="formfield" ng-model="artist[0].name"></br>
			<b>City:</b> <input type="text" class="formfield" ng-model="artist[0].city"></br>
			<b>Description:</b></br> 
				<textarea type="text" class="textAreaClass" ng-model="artist[0].description"></textarea></br>
			<b>Question 1:</b></br>
				<textarea type="text" class="textAreaClass" ng-model="artist[0].question1"/></textarea></br>
			<b>Answer 1:</b></br>
				<textarea type="text" class="textAreaClass" ng-model="artist[0].answer1"/></textarea></br>
			<b>Question 2:</b></br>
				<textarea type="text" class="textAreaClass" ng-model="artist[0].question2"/></textarea></br>
			<b>Answer 2:</b></br>
				<textarea type="text" class="textAreaClass" ng-model="artist[0].answer2"/></textarea></br>
			<b>Twitter line:</b></br> 
				<textarea type="text" class="textAreaClass" ng-model="artist[0].twitter"></textarea></br>

			</br></br>
			<button class="editButton" ng-click="saveChange(artist[0]._id)">Save Artist Changes</button>
			<button class="editButton" ng-click="saveDiscoverLinks(artist[0]._id)">Save Discovery Changes</button>
		</form>
	</div>

	<!-- Upload discover features -->
	<form class="discoverForm">
		<b>Discover 1:</b></br>
		iframe link: <input type="text" ng-model="artist[0].discoverlink1"/></br>
		<input type="radio" name="linktype" value="vimeo" ng-model="artist[0].discoverlink1type">Vimeo</br>
		<input type="radio" name="linktype" value="bandcamp" ng-model="artist[0].discoverlink1type">Bandcamp</br>
		<input type="type" ng-model="artist[0].discoverlink1description" placeholder="Description">
	</form>

	<form class="discoverForm">
		<b>Discover 2:</b></br>
		iframe link: <input type="text" ng-model="artist[0].discoverlink2"/></br>
		<input type="radio" name="linktype" value="vimeo" ng-model="artist[0].discoverlink2type">Vimeo</br>
		<input type="radio" name="linktype" value="bandcamp" ng-model="artist[0].discoverlink2type">Bandcamp</br>
		<input type="type" ng-model="artist[0].discoverlink2description" placeholder="Description">
	</form>

	<form class="discoverForm">
		<b>Discover 3:</b></br>
		iframe link: <input type="text" ng-model="artist[0].discoverlink3"/></br>
		<input type="radio" name="linktype" value="vimeo" ng-model="artist[0].discoverlink3type">Vimeo</br>
		<input type="radio" name="linktype" value="bandcamp" ng-model="artist[0].discoverlink3type">Bandcamp</br>
		<input type="type" ng-model="artist[0].discoverlink3description" placeholder="Description">
	</form>
</div>

<!-- Display discover features -->
<iframe class="discoverUnit" src={{discoveriframe1}} width={{artist[0].discoverwidth1}} height={{artist[0].discoverheight1}} frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<iframe class="discoverUnit" src={{discoveriframe2}} width={{artist[0].discoverwidth2}} height={{artist[0].discoverheight2}} frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<iframe class="discoverUnit" src={{discoveriframe3}} width={{artist[0].discoverwidth3}} height={{artist[0].discoverheight3}} frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>	

</br></br><button class="editButton" ng-click="deleteArtist(artist[0]._id)">Delete Artist</button>
	
