<% include audienceheader.html %>
	
<a href="/">
	<div class="title">Atom Review</div>
	<div class="slogan">showcasing one rising artist per day</div>
</a>

<div class="menubar">
	<img src="line.png">

	<div id="categorycontainer">
		<a class="categories" href="/">film</a>
		<a class="categories" href="/">music</a>
		<a class="categories" href="/">performance</a>
		<a class="categories" href="/">written</a>
		<div class="categories">|</div>
		<a class="categories" href="#!/about">about</a>
		<a class="categories" href="#!/contact">contact</a>
	</div>

	<img src="line.png"></br>
</div>


<div ng-view></div>

<% include footer.html %>