<% include header.html %>

<div class="middleInner">
	<div class="landingtop">
		<h1>OutingDash is the easiest way to book fun group outings in San Francisco</h1>

		<div id="landingtopleft">
			<ol>
				<li>Answer 4 question.</li>
				<li>Get a customized list of activities.</li>
				<li>Book your favorite option.</li>
				<li>You're done!</li>
			</ol>
		</div>
		
		<div id="landingtopright">
			Get started! Question 1 of 4</br>
			How many people are in your group?</br>
   			<form action="/questionnaire" method="post" id="numberpeople" accept-charset="utf-8">
      			<input class="formquestion" name="numberpeople" type="text" placeholder="# of people">
      			<input type="submit" value="Next">
      		</form>
		</div>
	</div>

	<div class="landingbottom">
		<div id="landingbottomleft">
			Are you an events venue?
			<a href="/first">list your venue on OutingDash</a>
		</div>
		
		<div id="landingbottommiddle">
			Planning a company outing?
			<a href="/second">learn about our business discounts</a>
		</div>
		
		<div id="landingbottomright">
			Random third question?
			<a href="/third">list your venue on OutingDash</a>
		</div>
	</div>
</div>


<% include footer.html %>