<% include audienceheader.html %>

<div ng-view autoscroll></div>

<div class="discover" ng-controller="discoverController" infinite-scroll="myPagingFunction()" infinite-scroll-disabled='endOfList'>

	<div class="discoverTitle">Discover other artists</div>

    <div ng-repeat="artist in artistList">
    	
    	<iframe class="discoverUnit" src={{artist.discoverlink1}} width={{artist.discoverwidth1}} height={{artist.discoverheight1}} frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

		<iframe class="discoverUnit" src={{artist.discoverlink2}} width={{artist.discoverwidth2}} height={{artist.discoverheight2}} frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

		<iframe class="discoverUnit" src={{artist.discoverlink3}} width={{artist.discoverwidth3}} height={{artist.discoverheight3}} frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    </div>


</div>



<% include footer.html %>