<div class="middle">
<div class="middleInner">

	<div class="title">Name</div>
	<div class="slogan">one up-and-coming artist per day</div>

	<div id="artist-form" class="row">
		<div class="interview">
			<form>
				<div class="form-group">

					<!-- BIND THIS VALUE TO formData.text IN ANGULAR ng-model="formData.text" -->
					<input type="date" class="formfield" ng-model="formData.artistdate"></br>
					<input type="text" class="formfield" placeholder="Artist name" ng-model="formData.artistname"></br>
					<input type="text" class="formfield" placeholder="City" ng-model="formData.artistcity"></br>
					<input type="text" class="formfield" placeholder="Question" ng-model="formData.artistquestion"></br>
					<input type="text" class="formfield" placeholder="Answer" ng-model="formData.artistanswer"></br>

				</div>

				<button type="submit" ng-click="createArtist()">Add</button>
			</form>
		</div>
	</div>

	<!-- Artist List -->
	<div id="artist-list" class="row">
		<div class="col-sm-4 col-sm-offset-4">

			<!-- LOOP OVER THE ARTISTS IN $scope.todos -->
			<div class="checkbox" ng-repeat="artist in artists | orderBy:'date'">
				<label>
					<input type="checkbox" ng-click="deleteArtist(artist._id)"> 
					<a href="#/edit/{{artist._id}}">Edit</a>
					<a href="/preview/{{artist._id}}">Preview</a>

					<form name="editDate">
						Date (YY/MM/DD): <input ng-model="artist.date"></br>
						<button ng-click="changeDate(artist._id, artist)">Save</button>
					</form>

					{{ artist.name }}</br>
					{{ artist.city }}</br>
					{{ artist.question }}</br>
					{{ artist.answer }}
				</label>
			</div>

		</div>
	</div>
	
</div>
</div>