<div class="middle">
<div class="middleInner">

	<div class="title">Name</div>
	<div class="slogan">one up-and-coming artist per day</div>

	<div id="artist-form">
		<form>
			<!-- BIND THIS VALUE TO formData.text IN ANGULAR ng-model="formData.text" -->
			<input type="date" class="formfield" ng-model="formData.artistdate"></br>
			<input type="text" class="formfield" placeholder="Artist name" ng-model="formData.artistname"></br>
			<input type="text" class="formfield" placeholder="City" ng-model="formData.artistcity"></br>
			<input type="text" class="formfield" placeholder="Description" ng-model="formData.artistdescription"></br>
			<input type="text" class="formfield" placeholder="Question" ng-model="formData.artistquestion"></br>
			<input type="text" class="formfield" placeholder="Answer" ng-model="formData.artistanswer"></br>
			<button type="submit" ng-click="createArtist()">Add</button>
		</form>
	</div>

	<img src="line.png"></br>

	<!-- Artist List -->
	<div id="artist-list">
		<div class="col-sm-4 col-sm-offset-4">

			<!-- LOOP OVER THE ARTISTS IN $scope.todos -->
			<div class="artistlist" ng-repeat="artist in artists | orderBy:'date'">
					<button ng-click="deleteArtist(artist._id)">Delete</button>
					<a href="#/edit/{{artist._id}}">Edit</a>
					<a href="#/preview/{{artist._id}}">Preview</a>

					<form name="editDate">
						{{artist.date}}</br>
						Date (YY/MM/DD): <input type="date" ng-model="artist.date"></br>
						<button ng-click="changeDate(artist._id, artist)">Save</button>
					</form>

					{{ artist.name }}</br>
					{{ artist.city }}</br>
					{{ artist.question }}</br>
					{{ artist.answer }}
			</div>

		</div>
	</div>
	
</div>
</div>