

<!-- Log in Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
	<div class="modal-dialog">

		<form action="/login" method="post" id="loginForm" accept-charset="utf-8">

      		<input class="suggestionBox" name="email" type="text" placeholder="email" required>

      	    <input class="suggestionBox" name="password" type="password" placeholder="password" required>

      	    <button type="submit" class="btn btn-primary">Log in</button>
      	</form>

	</div>
</div>