<% include header.html %>

<form name="featureForm">
  	<textarea data-ng-model="artist.name" placeholder="Name"></textarea></br> 
  	<textarea data-ng-model="artist.city" placeholder="Name"></textarea></br> 

  	<textarea data-ng-model="artist.questionOne" placeholder="Question One"></textarea></br>
  	<textarea data-ng-model="artist.answerOne" placeholder="Answer One"></textarea></br>
    <textarea data-ng-model="artist.questionTwo" placeholder="Question Two"></textarea></br>
    <textarea data-ng-model="artist.answerTwo" placeholder="Answer Two"></textarea></br>

</form>


<% include footer.html %>