<img id="imagefeatureDisplay" class="imagefeature" src={{visualFeaturePath}}>

<div id="textfeatureDisplay" class="textfeature">{{artist.textfeature}}</div>

<div id="iframefeatureDisplay">
	<iframe src={{iframesrc}} width={{artist.embedwidth}} height={{artist.embedheight}} frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div class="interviewblock">
	<img class="artistPhoto" src={{artist[0].photoPath}}>

	<div class="rightinterview">
		<div class="interview">
			Name: {{artist[0].name}}</br>
			City: {{artist[0].city}}</br>

			<b>{{artist[0].question}}</b></br>
			{{artist[0].answer}}</br>

			<!-- AddThis -->
			<div class="addthis_sharing_toolbox"></div>
		</div>
	</div>

</div>

<a id="previous" href="#!/show/{{previous}}"><img src="leftarrow.png"></a>
<a id="next" href="#!/show/{{next}}"><img src="rightarrow.png"></a>
</br>
<a href="#/" class="btn">Back to Dashboard</a>
<a href="#/edit/{{artist[0]._id}}">Edit</a>
