<div class="top">
	<a href="/">
		<div class="title">Atom Review</div>
		<div class="slogan">showcasing one rising artist per day</div>
	</a>

	<div class="menubar">
		<img class="arrow" src="line.png">
			<div class="categorycontainer">
				<div class="categories">film</div>
				<div class="categories">music</div>
				<div class="categories">performance</div>
				<div class="categories">written</div>
				<div class="categories">|</div>
				<a class="categories" href="#!/about">about</a>
				<a class="categories" href="#!/contact">contact</a>
			</div>
		<img class"arrow" src="line.png"></br>
	</div>

	<div class="textfeature" id="textfeature">{{artist[0].textfeature}}</div>

	<img class="imagefeature" id="imagefeature" src={{visualFeaturePath}} alt={{artist[0].name}}>

	<div id="iframefeature">
		<iframe src={{iframesrc}} width={{artist[0].embedwidth}} height={{artist[0].embedheight}} frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>

	<div class="description">{{artist[0].description}}</div>

</div>



<div class="middle">
	<div class="interviewblock">
		<img class="artistPhoto" src="https://atomreview.s3.amazonaws.com/biopic{{artist[0]._id}}" alt={{artist[0].name}}>
		

		<div class="artistQuickInfo">
			<b>Artist</b> {{artist[0].name}}</br>
			<b>City</b> {{artist[0].city}}
		</div>

		<div class="interview">
			<b>{{artist[0].question1}}</b></br>
			{{artist[0].answer1}}</br></br></br>
			<div id="question2"><b>{{artist[0].question2}}</b></br>
			{{artist[0].answer2}}</br></br></div>
		</div>

		<div class="addthis_sharing_toolbox"></div></br></br>
		<a id="previous" href="#!/show/{{previous}}"><img src="leftarrow.png"></a>
		<a id="next" href="#!/show/{{next}}"><img src="rightarrow.png"></a>
	</div>

</div>