<div class="top">
	<div class="title">Atom Review</div>
	<div class="slogan">one up-and-coming artist per day</div>
{{seo.pageTitle}}
		<div class="menubar">
			<img class="arrow" src="line.png">
				<div class="categorycontainer">
					<div class="categories">film</div>
					<div class="categories">music</div>
					<div class="categories">performance</div>
					<div class="categories">written</div>
					<div class="categories">|</div>
					<a class="categories" href="#!/about">about</a>
					<a class="categories" href="#!/contact">contact</a>
				</div>
			<img class"arrow" src="line.png"></br>
		</div>


	<div class="largetext">
		<a href="/">
			Woops! This page doesn't exist! </br>
			Click to go back to homepage
		</a> 
	</div>

	<img id="sketch" src="niki2.jpg">
	<div id="nikicredit">(Niki Ortiz)</div>
</div>