/********** discover *********/

.discover {
	background-color: #98C1B7;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: -30px;
	margin-right: -30px;
	color: #FFFFFF;
	-moz-box-shadow:    inset 0px 3px 5px 0px #60746F;
	-webkit-box-shadow: inset 0px 3px 5px 0px #60746F;
	box-shadow:         inset 0px 3px 5px 0px #60746F;
}

.discoverTitle {
	font-family: NoticiaText;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
}

.discoverUnit {
	margin: 20px 20px 20px 20px;	
	-moz-box-shadow:    0px 0px 5px 0px rgba(0,0,0,0.50);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
	box-shadow:         0px 0px 5px 0px rgba(0,0,0,0.50);
}
