.editContainer {
	width: 600px;
	text-align: center;
	margin: 0 auto;
}

.addArtistForm {
	margin-bottom: 40px;
}

.editorSearch {
	background: #D8D8D8;
	margin-bottom: 40px;
	padding: 10px 10px 10px 10px;
}

.formfield {
	border-style: none;
}

.editPhotoDisplay {
	height: 300px;
	-moz-box-shadow:    0px 0px 5px 0px rgba(0,0,0,0.50);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
	box-shadow:         0px 0px 5px 0px rgba(0,0,0,0.50);
	float: left;
}

.featureform {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.artistinfo {
	text-align: left;
	margin: 0 auto;
}

.artistRect {
	text-align: center;
	text-align: left;
	background-color: #F2F2F2;
	padding: 20px 20px 20px 20px;
	margin-bottom: 30px;
}

.discoverForm {
	width: 300px;
	margin-top: 20px;
	text-align: left;
}
