.landingtop {
	height: 325px;
}

.landingbottom {
	background: #242424;
	height: 120px;
}

.landingtopleft {
	width: 340px;
	height: 140px;
	margin: 0 auto;
}

.landingtopright {
	width: 340px;
	height: 140px;
	margin: 0 auto;
}

.landingbottom {
	color: #FFFFFF;
}

.landingbottombutton {
	width: 210px;
	height: 60px;
	background: #476F9D;
	padding: 10px 10px 10px 10px;
}

#landingbottomleft {
	width: 30%;
	float: left;
}

#landingbottommiddle {
	width: 30%;
	float: left;
}

#landingbottomright {
	width: 30%;
	float: left;
}

/********** Questionnaire related *********/

.questionnaire {
	width: 480px;
	height: 400px;
	background: #D8D8D8;


}



