/********** whole doc *********/
h1, h2 {
	color: #4A4A4A;
}

body {
	margin: 0px 0px 0px 0px;
}

/********** body *********/


.middle {
	text-align: center;
	overflow: hidden;
	font-family: LucidaSans;
	font-size: 16px;
}

.middleInner {
	margin: 0 auto;
	width: 700px;
	padding: 40px 20px 20px 20px;
}

.title {
	font-family: Courier;
	font-size: 48px;
	line-height: 30px;
	text-align: center;
}

.slogan {
	font-family: Courier;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	padding-top: 20px;
}


.interviewblock {

}

.interview {
	font-family: Raleway;
	font-size: 16px;
	color: #4A4A4A;
	line-height: 25px;
	padding-left: 10px;
}

.formfield {
	border-style: none;
}


