/********** whole doc *********/
h1, h2 {
	color: #4A4A4A;
}

body {
	margin: 0px 0px 0px 0px;
}

/********** body *********/


.middle {
	text-align: center;
	overflow: hidden;
	font-family: LucidaSans;
	font-size: 16px;
}

.middleInner {
	margin: 0 auto;
	width: 700px;
	padding: 20px 20px 20px 20px;
}