body {
	margin: 0px 0px 0px 0px;
	border: solid;
	text-align: center;
	border-color: #F2F2F2;
	border-width: 30px;
	padding-top: 50px;
	color: #4A4A4A;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #4A4A4A;
}


/********** body *********/

.middle {
	font-family: Courier;
}

.title {
	font-size: 48px;
	line-height: 30px;
}

.slogan {
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 30px;
}


#categorycontainer {
	margin: 0 auto;
	width: 458px;
}

.categories {
	font-size: 18px;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}

.iframefeature {
	margin-top: 40px;
	margin-bottom: 20px;
}

.description {
	font-family: 'Noticia Text', serif;
	font-size: 16px;
	color: #4A4A4A;
	line-height: 25px;
}

.interviewblock {
	margin: 20px 20px 20px 20px;
}

.interview {
	font-family: 'Noticia Text', serif;
	font-size: 16px;
	color: #4A4A4A;
	line-height: 25px;
}


.artistPhoto {
	-moz-box-shadow:    0px 0px 5px 0px rgba(0,0,0,0.50);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
	box-shadow:         0px 0px 5px 0px rgba(0,0,0,0.50);
	/*  width: 260px; */
	height: 290px;
	float: left;
	margin-right: 40px;
}


